.menubar-area{
    height: 30px;
    border-bottom: 1px solid #e3e3e3;
    width: 100%;
    position: absolute;
    top: 70px;
    display: none;
}

.menubar-area button{
    width: 150px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border: none;
    background-color: transparent;
    gap: 5px;
    font-size: 14px;
    text-decoration: underline dotted;
}

@media screen and (max-width: 984px){
    .menubar-area{
        display: flex;
    }
} 