@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  color: #1C1E21;
}

html {
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.container {
  display: flex;
  max-width: 1140px;
}

.guide-container {
  width: 100%;
  max-width: 1000px;
}

.content-area {

  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  width: 100%;
}

.code-area {
  max-width: 100vw;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

.code-area * {
  color: #e0e0e0;
  font-size: 12px;
  font-family: "Source Code Pro", monospace;
}

.logo{
  font-size: 30px;
  font-weight: bold;
  color: #646CFF;
  line-height: 32px;
}
h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 10px;
  /* margin-bottom: 16px; */
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

p,
li , i{
  color: #67676C;
  font-size: 16px;
  line-height: 26px;
}

li{
  margin-bottom: 6px;
}

.highlight{
  padding: 2px 6px;
  background-color: rgb(255, 175, 175);
  color: rgb(179, 4, 4);
  border-radius: 5px;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
}
hr {
  opacity: 0.3;
  margin: 20px 0;
}

.hide {
  display: none;
}

.errorpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.errorpage button{
  width: 160px;
  height: 40px;
  background-color: #646CFF;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
}

.error{
  max-width: 50%;
}

.link{
  text-decoration: none;
}
@media screen and (max-width: 1584px) {


  .content-area {
    padding-left: 80px;
  }

}

@media screen and (max-width: 1453px) {


  .content-area {
    padding-left: 120px;
  }

}


@media screen and (max-width: 1389px) {


  .content-area {
    padding-left: 140px;
  }

}


@media screen and (max-width: 1352px) {


  .content-area {
    padding-left: 180px;
  }

}

@media screen and (max-width: 1262px) {


  .content-area {
    padding-left: 220px;
  }

}


@media screen and (max-width: 1181px) {


  .content-area {
    padding-left: 260px;
  }

}


@media screen and (max-width: 1100px) {


  .content-area {
    padding-left: 260px;
  }

}


@media screen and (max-width: 1080px) {

  .content-area {
    padding-left: 300px;
  }

}
@media screen and (max-width: 984px) {

  .main{
    justify-content: center;
  }
  .content-area {
    padding:50px  10px;
    max-width: calc(100% - 20px);
  }
  .content-area p{
    font-size: 14px;
  }
  aside{
    left: -300px;
  }
  .code-area{
    padding: 10px 0;
    scale: 0.9;
  }

  

}

.tableContainer{
  overflow-x: scroll;
  margin: 20px 0;
  width: 100%;
}

table{
  font-size: 14px;
}

td, th{
  padding: 6px ;
  border: 1px solid #67676C;
  text-wrap: nowrap;
}

