@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  color: #1C1E21;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.container {
  display: flex;
  max-width: 1140px;
}

.guide-container {
  width: 100%;
  max-width: 1000px;
}

.content-area {

  display: flex;
  flex-direction: column;
  padding: 50px 40px;
}

.code-area {
  max-width: 100vw;
  padding: 0 10px;
}

.code-area * {
  color: #e0e0e0;
  font-family: "Source Code Pro", monospace;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  /* margin-bottom: 16px; */
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
}

p,
li {
  color: #67676C;
  font-size: 16px;
  line-height: 26px;
}

li{
  margin-bottom: 6px;
}

hr {
  opacity: 0.3;
  margin: 20px 0;
}

.hide {
  display: none;
}

@media screen and (max-width: 1584px) {


  .content-area {
    padding-left: 80px;
  }

}

@media screen and (max-width: 1453px) {


  .content-area {
    padding-left: 120px;
  }

}


@media screen and (max-width: 1389px) {


  .content-area {
    padding-left: 140px;
  }

}


@media screen and (max-width: 1352px) {


  .content-area {
    padding-left: 180px;
  }

}

@media screen and (max-width: 1262px) {


  .content-area {
    padding-left: 220px;
  }

}


@media screen and (max-width: 1181px) {


  .content-area {
    padding-left: 260px;
  }

}


@media screen and (max-width: 1100px) {


  .content-area {
    padding-left: 260px;
  }

}


@media screen and (max-width: 1080px) {

  .content-area {
    padding-left: 300px;
  }

}